<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
  	<img src="http://reviewzd.com/wp-content/uploads/2015/11/eventbrite-7976d2df30d02333a69549d4a7f86890.png" width="30" height="30" class="d-inline-block align-top" alt="">
  EventBrite Assignment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-dark navbar-right">
                
            <li><a href="/bookmarks"><i class="fa fa-bookmark" aria-hidden="true"></i> My Bookmarks</a></li>
   			</ul>
   </div>
</nav>