<div class="jumbotron" style="background:none;margin-top: 100px; margin-left: 200px; margin-right:200px;" align="center">
  <div class="container">
  <h1 class="display-3">Find your next experience</h1>
  <p class="lead">
    <h5 class="display-7">See the events happening around you</h1>
  </p>
  <hr class="my-4">
  <p>
    <h5 class="display-7">Select catagories of your interest and we will get you the events for the same</h1>
  </p>
  <p class="lead" align="center">
    <a class="btn btn-primary btn-lg" href="/categories" role="button">Search Events</a>
  </p>
</div>
</div>
